﻿<h1>Список пользователей</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Имя пользователя</td>
            <td>Email</td>
            <td>PW</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of users">
            <!--<ng-template [ngIf]="user?.UserId != p.id" [ngIfElse]="edit">-->
                <td>{{p?.UserName}}</td>
                <td>{{p?.UserEmail}}</td>
                <td>{{p?.UserPw}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editUser(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td>
            <!--</ng-template>-->
        </tr>
    </tbody>
</table>


<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="user.UserName" class="form-control" />
    </td>
    <td>
        <input type="password" [(ngModel)]="user.UserPassword" class="form-control" />
    </td>
    <td>
        <input type="password" [(ngModel)]="user.UserPassword" class="form-control" />
    </td>
    <td>
        <input type="email" [(ngModel)]="user.UserEmail" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>


<ng-template #create>
    <div class="form-group">
        <label>Имя пользователя</label>
        <input type="text" [(ngModel)]="user.UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="user.UserPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="user.UserEmail" class="form-control" />
    </div>

    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>